{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="login-container">
    <h2>Login</h2>
    <form method="POST" id="loginForm" novalidate>
        {{ form.hidden_tag() }}
        <div>
            {{ form.user_id.label }}<br>
            {{ form.user_id(class="input-field") }}
            {% for error in form.user_id.errors %}
                <span class="error">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.password.label }}<br>
            {{ form.password(class="input-field") }}
            {% for error in form.password.errors %}
                <span class="error">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.submit(class="btn") }}
        </div>
    </form>
</div>
{% endblock %}
