{% extends "base.html" %}

{% block title %}My Courses{% endblock %}

{% block content %}
<div class="container">
  <h1>My Courses</h1>

  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <div id="flash-messages">
        {% for category, message in messages %}
          <div class="flash flash-{{ category }}">
            {{ message }}
            <span class="flash-close" onclick="this.parentElement.style.display='none';">&times;</span>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}

  {% if courses_info %}
  <div class="table-container">
    <table class="courses-table table">
      <thead>
        <tr>
          <th>Course ID</th>
          <th>Course Name</th>
          <th>Teacher</th>
          <th>Grade</th>
          <th>Units</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Days</th>
          <th>Start Time</th>
          <th>End Time</th>
        </tr>
      </thead>
      <tbody>
        {% for course, grade, teacher in courses_info %}
        <tr>
          <td>{{ course.course_id }}</td>
          <td>{{ course.course_name }}</td>
          <td>{{ teacher }}</td>
          <td>{{ grade if grade is not none else "N/A" }}</td>
          <td>{{ course.course_unit }}</td>
          <td>{{ course.start_date.strftime('%Y-%m-%d') if course.start_date else 'N/A' }}</td>
          <td>{{ course.end_date.strftime('%Y-%m-%d') if course.end_date else 'N/A' }}</td>
          <td>{{ course.days }}</td>
          <td>{{ course.start_time.strftime('%H:%M') if course.start_time else 'N/A' }}</td>
          <td>{{ course.end_time.strftime('%H:%M') if course.end_time else 'N/A' }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <form method="post" action="{{ url_for('student.finalize_enrollment') }}">
      <button type="submit" class="btn">Finalize Enrollment</button>
  </form>
  {% else %}
  <p>You are not enrolled in any courses.</p>
  {% endif %}

  <h2>Enroll in a New Course</h2>
  {% if available_courses %}
  <form method="post" action="{{ url_for('student.enroll_course') }}" class="enroll-form">
    <label for="course_id">Select a course to enroll:</label>
    <select name="course_id" id="course_id" required>
      {% for course in available_courses %}
      <option value="{{ course.id }}">{{ course.course_name }} ({{ course.course_id }}) - {{ course.days }} {{ course.start_time.strftime('%H:%M') }}-{{ course.end_time.strftime('%H:%M') }}</option>
      {% endfor %}
    </select>
    <button type="submit" class="btn enroll-button">Enroll</button>
  </form>
  {% else %}
  <p>No available courses to enroll.</p>
  {% endif %}
</div>
{% endblock %}
